.file-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

/* .file-row:last-child {
  border-bottom: none; 
} */

.file-row:first-child {
  border-top: 1px solid #eee; 
}
